.header{
    margin-top: 30px;
    padding-left: 45%;
  }
  .header-the{
    margin-top: 5px;
    display: inline-block;
    transform: rotate(-90deg);
    font-size: 20px;
  }
  .header-siren{
    font-size: 35px;
    margin-top: 3px;
    display: inline-block;
    font-weight: bolder;
  }
  .nav-links ul li{
    list-style: none;
    display: inline;
   margin-left: 8%;
   cursor: pointer;
   /* margin-right: 3%; */
  
    
  }
  .header-hr{
    height: 5px;
    background-color: rgb(241, 247, 247);
  }
  
  .toggle{
    display: none;
  }
  
  @media screen and (min-width:300px) and (max-width:700px) {
  
    .header{
      
      display: inline-block;
      margin-top: 10px;
      padding-left: 2%;
    }
  
    .header-hr{
      height: 1px;
      background-color: rgb(241, 247, 247);
    }
    
    .toggle{
      /* float: right;
      margin-top: 20px;
      position: relative;
      right: 2px; */
      display: block;
      right:40px;
     top: 25px;
     position: absolute;
    }
  
    /* .nav-links{
      /* display: none; */
      /* display: block; */
      /* flex-direction: column; 
    } */
  
    .nav-links ul li{
      list-style: none;
      display: flex;
      justify-content: center;
     /* margin-left: 8%; */
     border-top: 1px solid rgb(226, 212, 212);
     cursor: pointer;
     width: 70%;
     /* margin-right: 3%; */
    
      
    }
    .nav-links ul{
        position: relative;
    }
    .header-hr{
      height: 5px;
      background-color: rgb(241, 247, 247);
    }
  
  .nav-link-container{
    
      margin-left: 10px;
      width: 100%;
      display: none;
  }
  
  .icon{
    height: 30px;
  }
  }